In [1]:
import zipfile
import pandas as pd
data = pd.read_csv('summarizedfebruary.csv')

AttributeError: module 'zipfile' has no attribute 'Zipfile'

In [7]:
import s3fs
fs = s3fs.S3FileSystem(anon=False)

In [8]:
def read_file(filename):
    with fs.open(filename) as f:
        return f.read().decode("utf-8")

In [ ]:
content = read_file("weatherdataspr/TR.csv")

In [12]:
for bucket in s3.buckets.all():
    print(bucket.name)

weatherdataspr

In [20]:
# Load csv file directly into python
import pandas as pd
obj = s3.Bucket('weatherdataspr').Object('FR.csv').get()
foo = pd.read_csv(obj['Body'], index_col=0)

print (foo)

         day  month   lat  lon  temperature_c_2_m_above_gnd_max  \
410528     1      2  48.3 -0.4                         9.487215
410529     1      2  45.6  3.1                         9.118244
410530     1      2  49.1  2.1                         9.072669
410548     1      2  49.1  2.2                         9.120185
410553     1      2  46.0  1.4                         9.880004
...      ...    ...   ...  ...                              ...
1239788   31      8  45.5  6.7                        12.542874
1239795   31      8  42.6  1.8                        15.186581
1239927   31      8  47.9  6.1                        21.281256
1240013   31      8  47.2  0.5                        23.900519
1240014   31      8  45.2 -0.3                        25.545488

         temperature_c_2_m_above_gnd_min  temperature_c_2_m_above_gnd_avg  \
410528                          6.366936                         7.642290
410529                          2.570913                         5.812606
410530                          5.570197                         7.425084
410548                          5.633353                         7.464858
410553                          5.296328                         7.666846
...                                  ...                              ...
1239788                         4.652029                         8.597335
1239795                         7.062657                        10.943559
1239927                        11.731398                        16.612896
1240013                        12.509612                        18.065586
1240014                        13.507644                        19.396761

         precipitation_total_grid_mm_surface_sum  \
410528                                  3.634155
410529                                  5.494572
410530                                  3.712154
410548                                  3.854242
410553                                  6.000278
...                                          ...
1239788                                 5.346048
1239795                                 3.160948
1239927                                 2.057272
1240013                                 0.046863
1240014                                 0.000000

         wind_speed_km_per_h_2_m_above_gnd_avg  \
410528                                9.907026
410529                                9.453052
410530                               10.670849
410548                               10.631471
410553                               11.814150
...                                        ...
1239788                               3.358407
1239795                               3.334191
1239927                               6.854123
1240013                               7.878650
1240014                               7.996491

         relative_humidity_pct_2_m_above_gnd_avg
410528                                 92.171724
410529                                 86.138182
410530                                 89.956375
410548                                 89.875972
410553                                 89.190584
...                                          ...
1239788                                83.545570
1239795                                79.230003
1239927                                74.631039
1240013                                66.532955
1240014                                65.003777

[1629315 rows x 10 columns]

In [52]:
import pandas as pd
data = pd.read_csv("TRGDD1.csv")

In [53]:

data.columns

Index(['location', 'lat', 'lon', 'asl', 'variable', 'unit', 'level',
       'timeResolution', 'aggregation', '20170202T0000',
       ...
       '20210930T0000', '20211001T0000', '20211002T0000', '20211003T0000',
       '20211004T0000', '20211005T0000', '20211006T0000', '20211007T0000',
       '20211008T0000', '20211009T0000'],
      dtype='object', length=1259)

In [54]:

data1 = data.melt(id_vars=['location', 'lat', 'lon', 'asl', 'variable', 'unit', 'level',
       'timeResolution', 'aggregation'])

data1

,location,lat,lon,asl,variable,unit,level,timeResolution,aggregation,variable,value
0,36.0°N/36.1°E285.1m,35.99987,36.09375,285.094,20170202T0000,GDDc,2 m above gnd,daily,mean,20170202T0000,0.394583
1,36.3°N/29.5°E589.9m,36.33320,29.53125,589.855,20170202T0000,GDDc,2 m above gnd,daily,mean,20170202T0000,0.186667
2,36.3°N/30.0°E663.6m,36.33320,30.00000,663.572,20170202T0000,GDDc,2 m above gnd,daily,mean,20170202T0000,0.495000
3,36.3°N/30.5°E-0.7m,36.33320,30.46875,-0.667,20170202T0000,GDDc,2 m above gnd,daily,mean,20170202T0000,3.879166
4,36.3°N/32.3°E652.6m,36.33320,32.34375,652.560,20170202T0000,GDDc,2 m above gnd,daily,mean,20170202T0000,0.622500
...,...,...,...,...,...,...,...,...,...,...,...
651245,41.7°N/34.2°E913.9m,41.66653,34.21875,913.931,20211009T0000,GDDc,2 m above gnd,daily,mean,20211009T0000,6.847772
651246,41.7°N/34.7°E757.7m,41.66653,34.68750,757.707,20211009T0000,GDDc,2 m above gnd,daily,mean,20211009T0000,6.836113
651247,41.7°N/35.2°E496.6m,41.66653,35.15625,496.582,20211009T0000,GDDc,2 m above gnd,daily,mean,20211009T0000,6.302412
651248,42.0°N/27.2°E317.9m,41.99986,27.18750,317.876,20211009T0000,GDDc,2 m above gnd,daily,mean,20211009T0000,4.515457
651249,42.0°N/33.3°E0.0m,41.99986,33.28125,0.000,20211009T0000,GDDc,2 m above gnd,daily,mean,20211009T0000,6.243517

In [60]:
df = data1[['lat', 'lon', 'asl', 'variable', 'value']]

df.columns = ['lat', 'lon', 'asl', 'variable','date', 'value']

df

             lat       lon      asl       variable           date     value
0       35.99987  36.09375  285.094  20170202T0000  20170202T0000  0.394583
1       36.33320  29.53125  589.855  20170202T0000  20170202T0000  0.186667
2       36.33320  30.00000  663.572  20170202T0000  20170202T0000  0.495000
3       36.33320  30.46875   -0.667  20170202T0000  20170202T0000  3.879166
4       36.33320  32.34375  652.560  20170202T0000  20170202T0000  0.622500
...          ...       ...      ...            ...            ...       ...
651245  41.66653  34.21875  913.931  20211009T0000  20211009T0000  6.847772
651246  41.66653  34.68750  757.707  20211009T0000  20211009T0000  6.836113
651247  41.66653  35.15625  496.582  20211009T0000  20211009T0000  6.302412
651248  41.99986  27.18750  317.876  20211009T0000  20211009T0000  4.515457
651249  41.99986  33.28125    0.000  20211009T0000  20211009T0000  6.243517

[651250 rows x 6 columns]

In [61]:


df['month'] = df['date'].str.slice(4,6)
df['day'] = df['date'].str.slice(6,8)
df

C:\Users\s1096153\AppData\Local\Temp\ipykernel_19040\2642619504.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['month'] = df['date'].str.slice(4,6)
C:\Users\s1096153\AppData\Local\Temp\ipykernel_19040\2642619504.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['day'] = df['date'].str.slice(6,8)

,lat,lon,asl,variable,date,value,month,day
0,35.99987,36.09375,285.094,20170202T0000,20170202T0000,0.394583,02,02
1,36.33320,29.53125,589.855,20170202T0000,20170202T0000,0.186667,02,02
2,36.33320,30.00000,663.572,20170202T0000,20170202T0000,0.495000,02,02
3,36.33320,30.46875,-0.667,20170202T0000,20170202T0000,3.879166,02,02
4,36.33320,32.34375,652.560,20170202T0000,20170202T0000,0.622500,02,02
...,...,...,...,...,...,...,...,...
651245,41.66653,34.21875,913.931,20211009T0000,20211009T0000,6.847772,10,09
651246,41.66653,34.68750,757.707,20211009T0000,20211009T0000,6.836113,10,09
651247,41.66653,35.15625,496.582,20211009T0000,20211009T0000,6.302412,10,09
651248,41.99986,27.18750,317.876,20211009T0000,20211009T0000,4.515457,10,09
651249,41.99986,33.28125,0.000,20211009T0000,20211009T0000,6.243517,10,09

In [62]:
df = df.groupby(['lat', 'lon', 'month', 'day']).aggregate('mean').reset_index()
df

             lat       lon month day      asl      value
0       35.99987  36.09375    02  02  285.094   2.994917
1       35.99987  36.09375    02  03  285.094   3.729167
2       35.99987  36.09375    02  04  285.094   4.682167
3       35.99987  36.09375    02  05  285.094   5.089250
4       35.99987  36.09375    02  06  285.094   4.646333
...          ...       ...   ...  ..      ...        ...
130766  41.99986  33.28125    10  05    0.000   9.215319
130767  41.99986  33.28125    10  06    0.000   9.625248
130768  41.99986  33.28125    10  07    0.000  10.031785
130769  41.99986  33.28125    10  08    0.000   9.511369
130770  41.99986  33.28125    10  09    0.000   7.393858

[130771 rows x 6 columns]

In [58]:
df['year'] = 2020
df['DATE'] = pd.to_datetime(df[['day', 'month','year']], dayfirst=True).dt.date

In [63]:
df = df[['lat','lon','month','day','value']]
df

             lat       lon month day      value
0       35.99987  36.09375    02  02   2.994917
1       35.99987  36.09375    02  03   3.729167
2       35.99987  36.09375    02  04   4.682167
3       35.99987  36.09375    02  05   5.089250
4       35.99987  36.09375    02  06   4.646333
...          ...       ...   ...  ..        ...
130766  41.99986  33.28125    10  05   9.215319
130767  41.99986  33.28125    10  06   9.625248
130768  41.99986  33.28125    10  07  10.031785
130769  41.99986  33.28125    10  08   9.511369
130770  41.99986  33.28125    10  09   7.393858

[130771 rows x 5 columns]

In [64]:


df.columns = ['lat','lon','month','day','GDD']

df.to_csv("GDD.csv")

In [48]:
df

            lat     lon        GDD        DATE
0        35.875  36.125   1.192250  2020-02-01
1        35.875  36.125   1.681750  2020-02-02
2        35.875  36.125   2.128250  2020-02-03
3        35.875  36.125   2.601750  2020-02-04
4        35.875  36.125   3.088250  2020-02-05
...         ...     ...        ...         ...
1255123  42.000  35.000  12.059250  2020-09-24
1255124  42.000  35.000  11.987750  2020-09-25
1255125  42.000  35.000  11.648999  2020-09-26
1255126  42.000  35.000  12.133750  2020-09-27
1255127  42.000  35.000  10.149688  2020-09-28

[1255128 rows x 4 columns]

## Divide south africa in two

In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('data\ZA.csv')
data.sample(10)

,Unnamed: 0,day,month,lat,lon,temperature_c_2_m_above_gnd_max,temperature_c_2_m_above_gnd_min,temperature_c_2_m_above_gnd_avg,precipitation_total_grid_mm_surface_sum,wind_speed_km_per_h_2_m_above_gnd_avg,relative_humidity_pct_2_m_above_gnd_avg,shortwave_radiation_w_per_m2_surface_sum
1842360,1782951,21,2,-32.0,23.2,27.237254,15.401537,20.699591,0.010000,12.124848,61.789617,6714.058496
755397,2268416,9,3,-26.3,29.7,25.862824,12.532781,18.824990,0.450305,8.812359,64.349404,6112.355664
1970107,564138,22,5,-26.5,25.3,23.083213,5.134168,13.090963,0.000000,6.172497,54.978570,4391.841064
371701,1127080,5,2,-24.9,20.0,34.960236,22.693392,28.528368,0.762566,11.489724,42.543998,7462.041797
1122622,1662117,13,3,-27.0,23.7,30.326373,17.433894,23.153023,3.716973,10.763349,56.792821,6429.485059
2062427,309477,23,5,-29.5,30.6,25.101239,9.786779,15.949485,0.000000,5.080588,71.383690,3841.287500
2420179,1928148,27,4,-29.6,29.7,22.128221,8.525657,14.342443,3.609059,4.888251,72.124761,4167.323779
2181023,1875001,24,7,-30.9,28.8,19.482320,2.331745,10.147758,0.000000,6.633956,42.564184,4090.095605
687648,261659,8,5,-26.8,27.4,22.403783,8.420182,14.854251,0.329608,7.812917,56.966886,4111.747168
81142,1177064,1,9,-23.9,27.3,27.391202,12.921164,19.794978,0.018233,10.127076,34.133868,5255.098877

In [3]:
data.shape

(2791098, 12)

In [21]:
ZA1 = data.iloc[:,1:5]
ZA1.sample(10)

         day  month   lat   lon
813436     9      8 -31.9  22.1
93312      2      2 -26.8  28.7
74731      1      8 -32.4  26.0
647036     8      2 -26.0  22.8
2126310   24      3 -25.1  30.6
2628940   29      6 -33.8  21.6
433522     5      7 -32.7  27.2
530151     6      8 -27.8  31.1
2551367   28      8 -23.9  31.7
845784    10      3 -28.4  28.9

In [23]:

ZA1.to_csv("ZA1.csv")

In [24]:
ZA2 = data.iloc[:,5:8]
ZA2.sample(10)

,temperature_c_2_m_above_gnd_max,temperature_c_2_m_above_gnd_min,temperature_c_2_m_above_gnd_avg
951699,23.084038,11.294656,16.707535
1923531,29.365864,13.603061,21.454462
392585,25.113512,12.510604,18.539431
1189915,26.588746,10.449313,18.897831
1307433,28.985553,15.627843,21.907865
161730,20.691537,6.166657,12.497983
2207076,30.736796,14.484633,22.254251
2489753,28.633276,19.915108,23.722437
2714302,27.663907,13.071357,19.963591
1075172,25.035286,6.688889,15.137310

In [25]:

ZA2.to_csv("ZA2.csv")

In [26]:
ZA3 = data.iloc[:,8:14]
ZA3.sample(10)

,precipitation_total_grid_mm_surface_sum,wind_speed_km_per_h_2_m_above_gnd_avg,relative_humidity_pct_2_m_above_gnd_avg,shortwave_radiation_w_per_m2_surface_sum
637431,2.685533,8.105098,61.847839,4569.953418
57066,0.420000,7.421171,67.436282,3253.400000
237068,0.012234,3.830907,55.276006,4187.187109
2672750,4.304390,5.996620,63.672215,5088.864282
1844546,11.600000,8.938148,80.919826,4051.800000
1588432,0.019234,8.219802,54.738216,5261.292188
694146,0.437204,7.866078,51.279951,3423.596680
2352509,0.000000,5.004417,58.385220,3733.127002
642634,0.918247,9.727524,71.237714,4095.773572
2774895,0.000000,6.624746,39.024380,4756.006934

In [27]:
ZA3.to_csv("ZA3.csv")